/*Header section*/
header {
  background-color: #000;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header nav {
  display: flex;
  justify-content: center;
  font-family: 'Lucida Handwriting',  cursive;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/*Main sections*/

main {
  padding: 40px 0;
  background-color: #284b63;
}

section {
  margin-bottom: 100px;
  background-color: #ffffff;
}

h1 {
  margin: 0 0 30px 10px;
  text-align: center;
  font-size: 40px;
  font-family: 'Lobster', 'papyrus', cursive;
}

h2 {
  margin: 0 1px;
  font-size: 30px;
  background-color: #3c6e71;
  border-bottom: 1px solid gray;
  border-style: inset;
  border-radius:8px;
  font-family: 'Lucida Handwriting',  cursive;
  padding: 5px;

}

h3 {
  margin: 12px 0;
  font-size: 25px;
  border-bottom: 2px solid #9da1a3;
}

/*These are for the groups and items */

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: #D9D9D9;
  border-radius:8px;
}

.item {
  flex: 1;
  margin: 10px;
  padding: 5px;
}

.item-double {
  flex: 2;
}


img {
  width: 20%;
  height: 50%;   
 }

p {
  font-size: 20px;
    font-family: 'Dancing Script', 'Goudy Old Style', cursive;  
 }

 /*these are for the links*/
 a:link {
    color: #f8f8f8
}

a:visited {
    color: #3c6e71;
}

a:hover {
    font-size: 30px;
}
/*This is for the form input in the contact section */

form {
  font-size: 20px;
  font-family: 'Dancing Script', 'Goudy Old Style', cursive; 
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 50%;
  margin-bottom: 10px;
  background-color: #D9D9D9;
  border-radius:8px;
}

form textarea {
  height: 60px;
}

/*This is for the button*/
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #3C6E71 5%, #284B63 100%);
	background-color:#3C6E71;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:5px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}




/*this is for desktops*/
 
 @media all and (min-width: 800px) {
   p {
     font-size: 20px;
   }
   section, h1 {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
 }


 /* this is for mobile screens */
 @media all and (min-width: 600px) {
  p {
    font-size: 20px;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }
  
  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
}
